:root {
    /* How do I add the font weight and variable to one root selector? */
    --ff-: 'Prompt', sans-serif;

    /* Colors */
    --gradient: linear-gradient(to right, #0091ff 0%, #003866 100%);
    --blue: #0091ff;
    --light-blue: #6dc0ff;
    --darkBlue: #003866;
    --grey-blue:#273a49;
    --gray-0:#f9f9fa;
    --gray-1:#eceeef;
    --gray-2:#eceeef;
    --gray-3:#cfd3d7;
    --gray-4:#bfc5c9;
    --gray-5:#adb4b9;
    --gray-6:#98a1a8;
    --gray-7:#98a1a8;
    --gray-8:#606e79;
    --gray-9:#454e55; 
    --green:#15410a;

    /* icons */
    /* --rain: 
    --sun:
    --cloud:
    --mix:
    --snow: */
    
}

.bar {
    background-color: gray;
    margin: 1rem;
    height: .1rem;
}

#weather-dashboard {
    background: var(--gradient);
    color: white;
    text-align: center;
}

.currentUVIndex {
    width: 45px;
    padding: 3px;
    border-radius: 2px;
    color :white
}

h1 {
    font-family: var(--ff-);
    font-weight: 600;
}

h2 {
    font-family: var(--ff-);
    font-weight: 400;
}

p {
    font-family: var(--ff-);
    font-weight: 200;
}

.hide {
    display: none;
}

.days-of-week {
    background: var(--grey-blue);
    color: white;
    margin: .5rem;
    text-align: left;
    border-radius: .3rem;
    max-width: 135px;
}

.day-details {
    text-align: left;
    padding: 0px;
}

.user-location {
    border: solid black .1rem;
    border-radius: .3rem;
}

#search-button {
    width: 100%;
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: .3rem;   
    padding: .5rem;
    margin-top: 1rem;
}

.city-name {
    margin: 1rem 0rem 1rem 0rem;
    background: grey;
    border-radius: .2rem;
    padding: .5rem;
}

.city-name:hover {
    background-color: rgb(182, 182, 182);
}

ol, ul {
	list-style: none;
    padding: 0rem;
}

.history {
    text-align: center;
    border-radius: .3rem;
    margin-top: 1rem;
}

#search-button:hover {
    background-color: var(--light-blue);
}

/* @media only screen and (max-width: 720px) {
    row {
      flex-direction: column;
    }
  } */